<div #mainRef class="nodeBox" cdkDrag [cdkDragDisabled]="dragDisabled" (cdkDragMoved)="onDragMove()"
    (cdkDragStarted)="onDragStart()" name="Test" (cdkDragEnded)="getVarCoords($event)"
    [cdkDragFreeDragPosition]="position">
    <div class="nodeBoxHead" cdkDragHandle>
        {{varAttr.constant ? 'value' : 'variable'}}
        <input *ngIf="!varAttr.constant" style="margin-top: 10px;" placeholder="" type="text"
            (mouseenter)="disableDrag()" (mouseleave)="enableDrag()" [(ngModel)]="varName"
            (change)="checkVariableName()" />
    </div>
    <div class="initValueBox">
        <input [ngClass]="valueType.canExpand ? 'initValueBoxInputExpand' : 'initValueBoxInput'" *ngIf="valueType.hasInitial && valueType.id != 5" placeholder="initial value" type={{valueType.input}} (mouseenter)="disableDrag()"
            (mouseleave)="enableDrag()" [(ngModel)]="varAttr.initialValue" />
        <input *ngIf="valueType.id == 5" class="initValueBoxInput" type="checkbox" (mouseenter)="disableDrag()"
            (mouseleave)="enableDrag()" [(ngModel)]="initBool" (change)="initBoolChange()" [attr.checked]="varAttr.initialValue == 'true'"/>
        <button *ngIf="valueType.canExpand" class="initValueExpand" (click)="mainController.openPrompt(varAttr)">
            <svg width="100%" height="100%" viewBox="0 0 10 10">
                <path d="M 5 4.3 l 2.8 -2.8 l -0.7 -0.7 l 2.1 0 l 0 2.1 l -0.7 -0.7 l -2.8 2.8 l 2.8 2.8 l 0.7 -0.7 l 0 2.1 l -2.1 0 l 0.7 -0.7 l -2.8 -2.8 l -2.8 2.8 l 0.7 0.7 l -2.1 0 l 0 -2.1 l 0.7 0.7 l 2.8 -2.8 l -2.8 -2.8 l -0.7 0.7 l 0 -2.1 l 2.1 0 l -0.7 0.7 z"/>
            </svg>
        </button>
        <select class="varComboInput" *ngIf="valueType.id == 2 && varAttr.possibleValues != null"
            [(ngModel)]="varAttr.initialValue">
            <option *ngFor="let value of varAttr.possibleValues" [selected]="value == varAttr.initialValue">{{value}}
            </option>
        </select>
    </div>
    <app-valueNode #inputRef [valDataID]="mainData.input.id"></app-valueNode>
    <app-valueNode #outputRef [valDataID]="mainData.output.id"></app-valueNode>
</div>