aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
click
colorama
disnake
Flask
Flask-Cors
frozenlist
idna
itsdangerous
Jinja2
MarkupSafe
multidict
PyYAML
requests
six
urllib3
Werkzeug
yarl
pyOpenSSL
