<div #mainRef class="nodeBox" cdkDrag [cdkDragDisabled]="dragDisabled" (cdkDragMoved)="onDragMove()"
    (cdkDragStarted)="onDragStart()" name="Test" (cdkDragEnded)="onDragEnd($event)"
    [cdkDragFreeDragPosition]="position">
    <div class="nodeBoxHead" cdkDragHandle>
        Pipeline
        <h4 style="margin-top: 10px; margin-bottom: 10px;">{{mainData.type}}</h4>
    </div>
    <app-valueNode *ngIf="mainData.point" #valueRef [valDataID]="mainData.point.id"></app-valueNode>
    <app-eventNode *ngIf="mainData.eventPoint" #eventRef [valDataID]="mainData.eventPoint.id"></app-eventNode>
</div>