<app-customModal *ngIf="mainController.showModal"></app-customModal>
<app-infoModal *ngIf="mainController.showInfoModalType != ''"></app-infoModal>

<div *ngIf="!mainController.loaded" class="loadingInterface">
  <div class="loader"></div>
</div>

<div class="header">
  <button [ngClass]="!mainController.sessionMan.usr || !mainController.sessionMan.selectedGuild ? 'headerSaveDisabled' : 'headerSaveButton'" (click)="save()">
    <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
      <path
        d="M 3.8 2.8 L 9.8 2.8 L 12.8 5.8 L 12.8 13.3 L 3.8 13.3 Z M 5.3 3.5 L 5.3 5.8 L 8.3 5.8 L 8.3 3.5 Z M 5.3 8.8 L 5.3 8.8 L 5.3 12.6 L 11.3 12.6 L 11.3 8.8 Z" />
    </svg>
  </button>
  <button [ngClass]="!mainController.sessionMan.usr || !mainController.sessionMan.selectedGuild || !mainController.boardMan.activeBoard || mainController.boardMan.activeBoard['name'] == 'Main' ? 'headerDelete headerSaveDisabled' : 'headerDelete headerSaveButton'" (click)="mainController.deleteBoard()">
    <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
      <path
        d="M 8 7 L 12 3 L 13 4 L 9 8 L 13 12 L 12 13 L 8 9 L 4 13 L 3 12 L 7 8 L 3 4 L 4 3 L 8 7" />
    </svg>
  </button>
  
  <div *ngIf="!mainController.sessionMan.usr || !mainController.boardMan.activeBoard" class="headerLoadFiller"></div>
  <select *ngIf="mainController.sessionMan.usr && mainController.sessionMan.selectedGuild" class="headerLoadSelect" [(ngModel)]="mainController.requestedBoard" (change)="changeBoard()">
    <option *ngFor="let op of mainController.boardMan.boardList" [selected]="evName == op">{{op}}</option>
  </select>
  <button [ngClass]="!mainController.sessionMan.usr || !mainController.sessionMan.selectedGuild ? 'headerSaveDisabled' : 'headerSaveButton'" (click)="mainController.clearBoard()">
    <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
      <path d="M 13 3 L 7 11 L 5 11 C 4 11 4.2 11.6 4.4 11.8 C 4.4 12.2 4.4 12.6 4 13 L 9 13 C 9.4 12.8 9.6 12.4 9.6 12 C 9.8 12.4 9.76 12.754 9.6 13 L 11 13 C 11.32 12.7 11.4 12.2 11.4 11.8 C 11.6 11.6 11.8 11 11 11 L 7.6 11 L 13.4 3.4 C 13.6 3 13.2 2.8 13 3"/>
    </svg>
  </button>
  <div class="infoDisplay">
    <h2 [className]="mainController.infoDisplayText[0][1] ? 'errorDisplayText' : 'infoDisplayText'">
      {{mainController.infoDisplayText[0][0]}}</h2>
    <h2 [className]="mainController.infoDisplayText[1][1] ? 'errorDisplayText' : 'infoDisplayText'">
      {{mainController.infoDisplayText[1][0]}}</h2>
    <h2 [className]="mainController.infoDisplayText[2][1] ? 'errorDisplayText' : 'infoDisplayText'">
      {{mainController.infoDisplayText[2][0]}}</h2>
  </div>
    <div class="headerLogin" *ngIf="!mainController.sessionMan.usr">
      <div class="headerLoginAvatarNotLogged">
        <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
          <path
            d="M 8 4.5 A 1 1 0 0 0 8 8.5 A 1 1 0 0 0 8 4.5 M 8 8.9 Q 4 8.9 4 11.5 L 12 11.5 Q 12 8.9 8 8.9" />
        </svg>
      </div>
    <a class="headerLoginLogin" href="https://discord.com/api/oauth2/authorize?client_id=682744116143980699&redirect_uri=https%3A%2F%2Ffreechmod.ddns.net%3A12546%2Flogin&response_type=code&scope=identify%20guilds%20guilds.members.read">login</a>
  </div>
  <div class="headerLogin" *ngIf="mainController.sessionMan.usr">
    <img class="headerLoginAvatar" src={{mainController.sessionMan.usr.avatar}}/>
    <h3 class="headerLoginName">{{mainController.sessionMan.usr.username}}</h3>
    <button class="headerLoginLogout" (click)="mainController.logout()">logout</button>
    <select *ngIf="mainController.sessionMan.guilds.length != 0" class="headerLoginSelect" [(ngModel)]="mainController.sessionMan.selectedGuild" (change)="mainController.changeGuilds()">
      <option *ngFor="let guild of mainController.sessionMan.guilds" [label]="guild.name">{{guild.id}}</option>
    </select>
    <button class="headerLoginInvite headerLoginLogout" (click)="invite()">invite</button>
  </div>
</div>

<div [ngStyle]="{'width.px': origSize[0], 'height.px': origSize[1], 'z-index': 1}">
  <div #board class="board" role="main" [cdkDragDisabled]="dragDisabled" [cdkDragFreeDragPosition]="dragPos"
    (cdkDragStarted)="dragEvent()" (cdkDragMoved)="updateDragPos()" cdkDrag wheel>
    <span *ngIf="dragged && mainController.sessionMan.usr" [@inAnimation]>
      <app-actionNode #NodeRef *ngFor="let node of mainController.boardMan.activeBoard.actions" [mainDataID]="node.id">
      </app-actionNode>
      <app-variableNode #NodeRef *ngFor="let node of mainController.boardMan.activeBoard.varInstances" [mainDataID]="node.id">
      </app-variableNode>
      <app-GEventNode #NodeRef *ngFor="let node of mainController.boardMan.activeBoard.globalEvents" [mainDataID]="node.id">
      </app-GEventNode>
      <app-pipelineNode #NodeRef *ngFor="let node of mainController.boardMan.activeBoard.pipelines" [mainDataID]="node.id">
      </app-pipelineNode>
      <app-arrow *ngFor="let transition of mainController.boardMan.activeBoard.transitions" [dataID]="transition.id"
        [destAddress]="transition.destination[1]" [origAddress]="transition.origin[1]"></app-arrow>
    </span>
  </div>
</div>

<div *ngIf="!dragged" class="disclaimer" [@outAnimation]>
  CLICK AND DRAG THE BOARD TO MOVE AROUND
</div>

<button class="keymapButton" (click)="mainController.showInfoModalCustom('colorTable')">
  <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
    <path
      d="M 6.9 10.7 C 6.9 8.9 7.2 7.8 8.2 6.9 C 11.4 4.7 6.9 2.3 6.9 5.1 L 5.6 5.1 C 5.7 -0.1 14.4 3.5 9.2 7.7 C 8.5 8.3 8.2 9.1 8.2 10.6 L 8.2 11.4 L 6.9 11.4 Z M 6.9 13 A 0.4 0.4 90 0 0 8.2 13 A 0.4 0.4 90 0 0 6.9 13" />
  </svg>
</button>

<button [className]="draggingNode ? 'sideMenuBottomButtonDeleteActive' : 'sideMenuBottomButtonDelete'"
  (mouseenter)="mainController.hoveringDelete = true" (mouseleave)="mainController.hoveringDelete = false">
  <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
    <path
      d="M 5 5 L 5 4 L 7 4 L 8 3 L 9 3 L 10 4 L 12 4 L 12 5 Z M 5 6 L 12 6 L 11 13 L 6 13 L 5 6 L 5 6 Z M 6.476 7.001 L 7 12 L 8 12 L 7.742 7.001 Z M 9.291 7.001 L 9 12 L 10 12 L 10.53 7.001 Z" />
  </svg>
</button>

<div class="errorPrompt" *ngIf="mainController.boardMan.activeBoard && mainController.boardMan.activeBoard.name != 'Main' && !mainController.boardMan.activeBoard.hasEvInput">
  <div class="errorIcon">
    <svg class="errorSVG" width="100%" height="100%" viewBox="0 0 16 16">
      <path
        d="M 8 2 L 2 12 L 14 12 L 8 2 L 8 3 L 13.1 11.5 L 2.9 11.5 L 8 3 M 8 6 A 0.5 0.5 0 0 0 8 7 A 0.5 0.5 0 0 0 8 6 M 7.5 7.3 L 8.5 7.3 L 8.5 11 L 7.5 11 Z" />
    </svg>
  </div>
  <div class="errorText">
    <h4>The custom action is missing an event input pipeline</h4>
  </div>
</div>

<div #sideBar class="sideMenu">
  <div *ngIf="mainController.sessionMan.usr && mainController.sessionMan.selectedGuild" class="sideMenuTop">
    <mat-tab-group [dynamicHeight]="true" [disablePagination]="true">
      <mat-tab label="Actions" class="sideMenuTopTab">
        <div class="actionTabContainer">
          <mat-accordion multi="false" class="sideMenuAcc">
            <div class="sideMenuSearch">
              <input type="search" placeholder="filter..." [(ngModel)]="mainController.templateMan.filterStr" (input)="mainController.templateMan.updateFilters()"/>
            </div>
            <div class="sideMenuDivider" *ngFor="let gr of mainController.templateMan.groups.keys()">
              <div class="sideMenuDividerTitle">
                {{gr}}
              </div>
              <mat-expansion-panel *ngFor="let templ of mainController.templateMan.groups.get(gr)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{templ.type}}
                  </mat-panel-title>
                  <mat-panel-description>
                    In:{{templ.inputs.length}} - Out:{{templ.outputs.length}} - Ev:{{templ.events.length}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="actionShowcase"
                  [ngStyle]="{height: ((templ.inputs.length + templ.outputs.length + templ.events.length) * 45 + 200) + 'px'}">
                  <app-phantomActionNode [mainData]="templ"></app-phantomActionNode>
                </div>
                <div class="actionDescription">
                  <button [disabled]="!dragged" class="sideMenuBottomButtonAdd"
                    (click)="mainController.getNewAction(templ.id)">
                    <svg class="sideMenuBottomSVG" width="100%" height="100%"
                      viewBox="0 0 16 16">
                      <path d="m 9 3 l -2 0 l 0 4 l -4 0 l 0 2 l 4 0 l 0 4 l 2 0 l 0 -4 l 4 0 l 0 -2 l -4 0" />
                    </svg>
                  </button>
                  <button class="sideMenuBottomButtonInfo" (click)="mainController.updateInfoModal(templ)">
                    <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
                      <path
                        d="M 6.9 10.7 C 6.9 8.9 7.2 7.8 8.2 6.9 C 11.4 4.7 6.9 2.3 6.9 5.1 L 5.6 5.1 C 5.7 -0.1 14.4 3.5 9.2 7.7 C 8.5 8.3 8.2 9.1 8.2 10.6 L 8.2 11.4 L 6.9 11.4 Z M 6.9 13 A 0.4 0.4 90 0 0 8.2 13 A 0.4 0.4 90 0 0 6.9 13" />
                    </svg>
                  </button>
                </div>
              </mat-expansion-panel>
            </div>
            
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab label="Variables">
        <div class="varSelectInputContainer">
          <div class="varSelectLeft">
            <span class="varSelectorText">Value type </span>
          </div>
          <div class="varSelectRight">
            <select class="varSelectInput" [(ngModel)]="varTypeInput" (change)="updateShowcaseVariable()">
              <option *ngFor="let valType of mainController.typeValMan.allowedValues" [label]="valType[1]">{{valType[0]}}</option>
            </select>
          </div>
          <hr class="varSelectorSep" />
        </div>
        <div class="varSelectInputContainer">
          <div class="varSelectLeft">
            <span class="varSelectorText">Constant </span>
          </div>
          <div class="varSelectRight">
            <input class="varSelectInput" *ngIf="this.mainController.boardMan.activeBoard" type="checkbox" [(ngModel)]="varIsConstant"
              (change)="updateShowcaseVariable()" />
          </div>
          <hr class="varSelectorSep" />
        </div>
        <div *ngIf="!varIsConstant" class="varSelectInputContainer">
          <div class="varSelectLeft">
            <span class="varSelectorText">Name </span>
          </div>
          <div class="varSelectRight">
            <input class="varSelectInput" type="text" [(ngModel)]="varName" (input)="updateShowcaseVariable()" />
          </div>
          <hr class="varSelectorSep" />
        </div>
        <div *ngIf="varType.hasInitial && varType.id != 5" class="varSelectInputContainer">
          <div class="varSelectLeft">
            <span class="varSelectorText">Initial Value </span>
          </div>
          <div class="varSelectRight">
            <input class="varSelectInput" type={{varType.input}} [(ngModel)]="varInitialValue" (input)="updateShowcaseVariable()"/>
          </div>
          <hr class="varSelectorSep" />
        </div>
        <div class="variableShowcase" [ngStyle]="{height: (2 * 40 + 200) + 'px'}">
          <app-phantomVariableNode #phantomVar [mainData]="showCaseVar" [varElem]="showCaseVarElem"></app-phantomVariableNode>
        </div>
        <button [disabled]="!dragged || (!showCaseVarElem.constant && varName == '')" class="sideMenuBottomButtonAdd" style="height: auto;"
          (click)="mainController.getNewVariable(showCaseVar, showCaseVarElem); resetShowCase('var')">
          <svg class="sideMenuBottomSVG" width="100%" height="100%"
            viewBox="0 0 16 16">
            <path d="m 9 3 l -2 0 l 0 4 l -4 0 l 0 2 l 4 0 l 0 4 l 2 0 l 0 -4 l 4 0 l 0 -2 l -4 0" />
          </svg>
        </button>
        <button class="sideMenuBottomButtonInfo" (click)="mainController.showInfoModalCustom('variable')" style="height: auto;">
          <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
            <path
              d="M 6.9 10.7 C 6.9 8.9 7.2 7.8 8.2 6.9 C 11.4 4.7 6.9 2.3 6.9 5.1 L 5.6 5.1 C 5.7 -0.1 14.4 3.5 9.2 7.7 C 8.5 8.3 8.2 9.1 8.2 10.6 L 8.2 11.4 L 6.9 11.4 Z M 6.9 13 A 0.4 0.4 90 0 0 8.2 13 A 0.4 0.4 90 0 0 6.9 13" />
          </svg>
        </button>
      </mat-tab>
      <mat-tab label="GEvents" *ngIf="this.mainController.boardMan.activeBoard && this.mainController.boardMan.activeBoard.name == 'Main'">
        <div class="varSelectInputContainer">
          <select class="evSelectInput" [(ngModel)]="evType" (change)="updateShowcaseEvent()">
            <option [selected]="op == 'on message received'" *ngFor="let op of mainController.typeValMan.globalEventList">{{op}}</option>
          </select>
        </div>
        <div class="eventShowcase" [ngStyle]="{height: (2 * 40 + 200) + 'px'}">
          <app-phantomGEventNode [mainData]="showCaseEvent"></app-phantomGEventNode>
        </div>
        <button [disabled]="!dragged || (evType == 'Event Input' && mainController.boardMan.activeBoard.hasEvInput)" class="sideMenuBottomButtonAdd" style="height: auto;"
          (click)="mainController.getNewGEvent(showCaseEvent); resetShowCase('event')">
          <svg class="sideMenuBottomSVG" width="100%" height="100%"
            viewBox="0 0 16 16">
            <path d="m 9 3 l -2 0 l 0 4 l -4 0 l 0 2 l 4 0 l 0 4 l 2 0 l 0 -4 l 4 0 l 0 -2 l -4 0" />
          </svg>
        </button>
        <button class="sideMenuBottomButtonInfo" (click)="mainController.showInfoModalCustom('event')" style="height: auto;">
          <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
            <path
              d="M 6.9 10.7 C 6.9 8.9 7.2 7.8 8.2 6.9 C 11.4 4.7 6.9 2.3 6.9 5.1 L 5.6 5.1 C 5.7 -0.1 14.4 3.5 9.2 7.7 C 8.5 8.3 8.2 9.1 8.2 10.6 L 8.2 11.4 L 6.9 11.4 Z M 6.9 13 A 0.4 0.4 90 0 0 8.2 13 A 0.4 0.4 90 0 0 6.9 13" />
          </svg>
        </button>
      </mat-tab>
      <mat-tab label="Pipeline" *ngIf="this.mainController.boardMan.activeBoard && this.mainController.boardMan.activeBoard.name != 'Main'">
        <div class="varSelectInputContainer">
          <select class="evSelectInput" [(ngModel)]="evType" (change)="updateShowcasePipeline()">
            <option [selected]="op == 'init'" *ngFor="let op of mainController.typeValMan.pipelineTypes">{{op}}</option>
          </select>
          <hr class="varSelectorSep" />
        </div>
        <div class="varSelectInputContainer">
          <div class="varSelectLeft">
            <span class="varSelectorText">Name </span>
          </div>
          <div class="varSelectRight">
            <input class="varSelectInput" type="text" [(ngModel)]="evName" (change)="updateShowcasePipeline()" />
          </div>
          <hr class="varSelectorSep" />
        </div>
        <div class="varSelectInputContainer">
          <div class="varSelectRight" *ngIf="evType != 'Event Input' && evType != 'Event Output'">
            <select class="varSelectInput" [(ngModel)]="evTypeInput" (change)="updateShowcasePipeline()">
              <option *ngFor="let valType of mainController.typeValMan.allowedValues" [label]="valType[1]">{{valType[0]}}</option>
            </select>
          </div>
        </div>
        <div class="eventShowcase" [ngStyle]="{height: (2 * 40 + 200) + 'px'}">
          <app-phantomPipelineNode #phantomPipe [mainData]="showCasePipeline"></app-phantomPipelineNode>
        </div>
        <button [disabled]="!dragged || (evType == 'Event Input' && mainController.boardMan.activeBoard.hasEvInput) || evName == ''" class="sideMenuBottomButtonAdd" style="height: auto;"
          (click)="mainController.getNewPipeline(showCasePipeline); resetShowCase('pipeline')">
          <svg class="sideMenuBottomSVG" width="100%" height="100%"
            viewBox="0 0 16 16">
            <path d="m 9 3 l -2 0 l 0 4 l -4 0 l 0 2 l 4 0 l 0 4 l 2 0 l 0 -4 l 4 0 l 0 -2 l -4 0" />
          </svg>
        </button>
        <button class="sideMenuBottomButtonInfo" (click)="mainController.showInfoModalCustom('pipeline')" style="height: auto;">
          <svg class="sideMenuBottomSVG" width="100%" height="100%" viewBox="0 0 16 16">
            <path
              d="M 6.9 10.7 C 6.9 8.9 7.2 7.8 8.2 6.9 C 11.4 4.7 6.9 2.3 6.9 5.1 L 5.6 5.1 C 5.7 -0.1 14.4 3.5 9.2 7.7 C 8.5 8.3 8.2 9.1 8.2 10.6 L 8.2 11.4 L 6.9 11.4 Z M 6.9 13 A 0.4 0.4 90 0 0 8.2 13 A 0.4 0.4 90 0 0 6.9 13" />
          </svg>
        </button>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="sideDisclaimer" *ngIf="!mainController.sessionMan.usr || !mainController.sessionMan.selectedGuild">
    log in to configure the bot
  </div>
</div>

<router-outlet></router-outlet>